<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjy.mapper.DeptMapper">
    <resultMap id="deptResultMap" type="com.wjy.pojo.Dept">
        <id column="id" property="id"/>
        <collection property="classes" column="id" ofType="com.wjy.pojo.Class" select="findClassByDeptId"/>
    </resultMap>

    <select id="findClassByDeptId" resultType="com.wjy.pojo.Class">
        select * from class where dept_id=#{id}
    </select>


</mapper>